<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><i class="material-icons">directions_run</i>StairRace</a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="/">
            <i class="material-icons">reorder</i>
          </a>
          </li>
          <% if logged_in? %>
            <li>
              <a href="/signup">
                <i class="material-icons">person_add</i>
              </a> 
            </li>
            <li>
              <a href="/logout">
                <i class="material-icons">lock_open</i>
              </a>
            </li>
          <% else %>
            <li>
              <a href="/login">
                <i class="material-icons">lock</i>
              </a>
            </li>
          <% end %>
        </ul>
      </a>
    </div>
  </div>
</nav>




